:root {
    -color-primary: #3b82f6;
    -color-secondary: #9333ea;
    -color-background: #0f172a;
    -color-text: #e2e8f0;
}

.app-header {
    -fx-padding: 12 16 12 16;
    -fx-background-color: -color-primary;
}

.app-title {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.h1 {
    -fx-text-fill: -color-text;
    -fx-font-size: 24px;
}

.root, .stack-pane, .border-pane {
    -fx-background-color: -color-background;
}

.button.btn-primary {
    -fx-background-color: -color-primary;
    -fx-text-fill: white;
}

.button.btn-secondary {
    -fx-background-color: -color-secondary;
    -fx-text-fill: white;
}
